<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="logger">
      <ion-label>Sleep Logger</ion-label>
      <ion-icon src="../assets/bed-solid.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="sleepiness">
      <ion-label>Sleepiness</ion-label>
      <ion-icon src="../assets/flushed-solid.svg"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="analytics">
      <ion-label>Settings</ion-label>
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
